@page "/pomodoro"
@rendermode InteractiveServer

<PageTitle>Pomodoro Timer</PageTitle>

<h1>Pomodoro Timer</h1>

<div>
    <p>Work Time: @workTime minutes</p>
    <p>Break Time: @breakTime minutes</p>
    <p role="status">Time Remaining: @DisplayTime</p>
</div>

<button class="btn btn-primary" @onclick="StartTimer" disabled="@isRunning">Start</button>
<button class="btn btn-primary" @onclick="ResetTimer" disabled="@(!isRunning)">Reset</button>

@code {
    private int workTime = 1;
    private int breakTime = 5;
    private int minutes = 0;
    private int seconds = 5;
    private bool isRunning = false;
    private System.Timers.Timer timer;

    private string DisplayTime => $"{minutes:00}:{seconds:00}";

    protected override async Task OnInitializedAsync()
    {
        timer = new System.Timers.Timer(1000);
        timer.Elapsed += TimerElapsed;
        await base.OnInitializedAsync();
    }

    private void StartTimer()
    {
        if (!isRunning)
        {
            isRunning = true;
            timer.Start();
            StateHasChanged(); // Trigger UI update

        }
    }

    private void ResetTimer()
    {
        timer.Stop();
        isRunning = false;
        minutes = workTime;
        seconds = 0;
        StateHasChanged(); // Trigger UI update
    }

    private async void TimerElapsed(object sender, System.Timers.ElapsedEventArgs e)
    {
        if (seconds == 0)
        {
            if (minutes == 0)
            {
                timer.Stop();
                isRunning = false;
                if (workTime > 0)
                {
                    minutes = breakTime;
                }
                else
                {
                    minutes = workTime;
                }
                seconds = 0;
                await InvokeAsync(StateHasChanged); // Ensure UI update on UI thread
                return;
            }
            else
            {
                minutes--;
                seconds = 59;
            }
        }
        else
        {
            seconds--;
        }


        await InvokeAsync(StateHasChanged); // Ensure UI update on UI thread

    }
}
